.head{
    padding: 20px ;
    color: #fff;

};
.log h1{
    font-size: 35px;
    font-weight: 900px;
}
.head .icon{
    margin-left: 10px;

}


/* -------------------------------------------------------------header----------------------------------------------------- */
header{
    background-color: rgb(225, 225, 225,0.2);
    margin: 0 30px;
}

header.li{
    margin: 40px;
}
